<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>HowaitoAlbum</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/login.css" rel="stylesheet">

  <style type="text/css">

  </style>
</head>

<body>
  <div id="app">
    <div class="login-container">
      <div class="header">
        <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
        <div class="header-title">Login via Mobile Number&nbsp;&nbsp;&nbsp;</div>
      </div>
      <div class="content">
        <div class="login-form">
          <div style="display: flex; justify-content: space-between">
            <el-input style="width: 60%" placeholder="Please input your Number..." v-model="form.phone">
            </el-input>
            <el-button style="width: 38%" @click="sendCode" type="success"
              :disabled="disabled">{{codeBtnMsg}}</el-button>
          </div>

          <div style="height: 5px"></div>
          <el-input placeholder="Please input Verification Code" v-model="form.code">
          </el-input>
          <div style="text-align: center; color: #8c939d;margin: 5px 0">If you don't have an account, one will be created automatically after verification.</div>
          <el-button @click="login" type="primary" style="width: 100%;">Login</el-button>
          <div style="text-align: right; color:#333333; margin: 5px 0"><a href="/login2.html">Login with Password</a></div>
        </div>
        <div class="login-radio">
          <div>
            <input type="radio" name="readed" v-model="radio" value="1">
            <label for="readed"></label>
          </div>
          <div>I have read and agree to the
            <a href="javascript:void(0)">
                "Howaito-Album" User Service Agreement</a>、
            <a href="javascript:void(0)">Privacy Policy</a>
              and others. I accept the **bolded clauses regarding exemption or limitation of liability, jurisdiction for lawsuits, etc.**
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.min.js"></script>
  <!-- 引入组件库 -->
  <script src="./js/element.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/footer.js"></script>
  <script>

    const app = new Vue({
      el: "#app",
      data: {
        radio: "",
        disabled: false, // 发送短信按钮
        codeBtnMsg: "Get Verification Code", // 发送短信按钮提示
        form: {
        }
      },
      methods: {
        login() {
          if (!this.radio) {
            this.$message.error("Please first confirm that you have read the User Agreement!");
            return
          }
          if (!this.form.phone || !this.form.code) {
            this.$message.error("Phone number and verification code cannot be empty!");
            return
          }
          axios.post("/user/login", this.form)
            .then(({ data }) => {
              if (data) {
                // 保存用户信息到session
                sessionStorage.setItem("token", data);
              }
              // 跳转到首页
              location.href = "/index.html"
            })
            .catch(err => this.$message.error(err))
        },
        goBack() {
          history.back();
        },
        sendCode() {
          // 前端手机号格式校验（与后端保持一致的中国大陆手机规则，可适当放宽为 11 位 1 开头）
          const phone = (this.form.phone || '').trim();
          const CN_PHONE = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
          if (!phone) {
            this.$message.error("Phone number cannot be empty!");
            return;
          }
          if (!CN_PHONE.test(phone)) {
            this.$message.error("手机号格式错误!");
            return; // 不发送请求，也不触发倒计时
          }
          // 发送验证码，仅在成功时启动倒计时
          axios.post("/user/code?phone=" + phone)
            .then(() => {
              // 禁用按钮并倒计时，仅成功后执行
              this.disabled = true;
              let i = 60;
              this.codeBtnMsg = (i--) + 's to resend';
              const taskId = setInterval(() => this.codeBtnMsg = (i--) + 's to resend', 1000);
              setTimeout(() => {
                this.disabled = false;
                clearInterval(taskId);
                this.codeBtnMsg = "Get Verification Code";
              }, 59000);
              this.$message.success("Verification code sent!");
            })
            .catch(err => {
              console.log(err);
              this.$message.error(err);
            });
        }
      }
    })
  </script>
</body>

</html>
